* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  background-color: black;
}

.grid-container {
  display: grid;
  height: 100fr;
  grid-template-columns: repeat(3, 30fr);
  grid-template-rows: repeat(2, 45vh);
  gap: 20px;
  justify-items: stretch;
}
.grid-item-1 {
  background-color: red;
}
.grid-item-2 {
  background-color: violet;
}
.grid-item-3 {
  background-color: blue;
}
.grid-item-4 {
  background-color: coral;
}
.grid-item-5 {
  background-color: turquoise;
}
.grid-item-6 {
  background-color: magenta;
}
